<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- resultType="_int" premitive int -->
<!-- resultType="int"  Wrapper Class Integer -->    
    
<!-- 세미콜론, #, 공백 주의 -->
<mapper namespace="com.study.springboot.dao.IFaqDao">
	
	<select id="faq_list_t" resultType="com.study.springboot.dto.FaqDto">
	select * from (select rownum as rnum , faq.* from faq) where rnum between #{param1} and #{param2}
	</select>
	
	<select id="faq_list_t_v" resultType="com.study.springboot.dto.FaqDto">
	select * from (select rownum as rnum , faq.* from faq where faq_title like '%' || #{param1} || '%' or faq_content like '%' || #{param1} || '%') where rnum between #{param2} and #{param3}
	</select>
	
	<select id="faq_list" resultType="com.study.springboot.dto.FaqDto">
	select * from (select rownum as rnum , faq.* from faq where faq_category=#{param1}) where rnum between #{param2} and #{param3}
	</select>
	
	<select id="faq_list_v" resultType="com.study.springboot.dto.FaqDto">
	select * from (select rownum as rnum , faq.* from faq where faq_title like '%' || #{param2} || '%' or faq_content like '%' || #{param2} || '%' and faq_category=#{param1}) where rnum between #{param2} and #{param3}
	</select>
	
	<select id="count_t" resultType="_int">
	select count(*) from faq
	</select>
	
	<select id="count_t_v" resultType="_int">
	select count(*) from faq where faq_title like '%' || #{param1} || '%' or faq_content like '%' || #{param1} || '%'
	</select>
	
	<select id="count" resultType="_int">
	select count(*) from faq where faq_category=#{param1}
	</select>
	
	<select id="count_v" resultType="_int">
	select count(*) from faq where faq_title like '%' || #{param2} || '%' or faq_content like '%' || #{param2} || '%' and faq_category=#{param1}
	</select>
	
	<insert id="faq_write">
	INSERT INTO faq (faq_idx, faq_category, faq_title, faq_content, faq_member_idx)
            VALUES (faq_seq.nextval,#{param1},#{param2}, #{param3}, #{param4})
	</insert>
	
	<update id="faq_update">
	update faq set faq_category=#{param1}, faq_title=#{param2},faq_content=#{param3},faq_member_idx=#{param4} where faq_idx=#{param5}
	</update>
	
	<select id="dto" resultType="com.study.springboot.dto.FaqDto">
	select * from faq where faq_idx=#{param1}
	</select>
	
	<delete id="faq_delete">
	delete from faq where faq_idx=#{param1}
	</delete>
</mapper>