<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- resultType="_int" premitive int -->
<!-- resultType="int"  Wrapper Class Integer -->    
    
		<!-- 세미콜론, #, 공백 주의 -->
		<mapper namespace="com.study.springboot.dao.IOne2one_replyDao">
		
		<select id="dto" resultType="com.study.springboot.dto.One2one_replyDto">
		select A.*, B.member_name from one2one_reply A join member B on A.reply_member_idx = B.member_idx where A.reply_one2one_idx =#{param1}
		</select>
		
		</mapper>