.noticeMain{
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.pageName{
    width: 80%;
    padding: 15px 0;
    border-bottom: 2px solid rgb(224, 224, 224);;
}
.formWarp{
    margin-top: 40px;
}
.noticeTitle{
    margin-top: 20px;
}
.noticeTitle span:nth-of-type(1){
    font-size: 14px;
    padding: 10px 20px;

}
.noticeTitle span input[type="text"]{
    width: 560px;
    height: 33.8px;
    margin-left: -5px;
    padding-left: 20px;
    border: 1.5px solid rgb(224, 224, 224);;
    opacity: 60%;
}
.noticeContent{
    margin-top: 20px;
}

.button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button button{
    background-color: white;
    width: 100px;
    height: 35px;
    border: 1px solid rgb(224, 224, 224);;
    border-radius: 4px;
}
.button input{
    background-color: rgb(224, 224, 224);;
    width: 100px;
    height: 35px;
    border: 1px solid rgb(224, 224, 224);;
    border-radius: 4px;
}