@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;700;900&display=swap');
* { 
   margin: 0 auto;
   padding: 0;
   font-family: 'Noto Sans KR', sans-serif;
   /* border: 1px solid black; */
}
  #jadam{
    z-index: -1;
  }
  .autoplay img {
    margin-top: 60px;
    height: 300px;
    width: 350px;
  }

 .lineUP {
   height: 450px;
   margin: 0 auto;
   padding: 0 auto;
 }
 .autoplay{
   width: 1200px;
 }
.bestProduct{
  background-color: rgb(132, 149, 113);
  padding: 50px 0;
  color: white;
}
.bestSentence{
padding-left: 50px;
}
.bestProduct h4{
  color: white;
}
 a {
   text-decoration: none;
   color: #333333;
 }
 a:link { color: #333333; }
 a:visited { color: #333333; }
 a:hover { color: #333333; }
 a:active { color: #333333; }