
   #wrap { 
      width: 80%;
      height: auto;
   }
   #content { 
   	 margin-top:50px;
    
   }
   #content2 { 
      margin-left: 10%;
      margin-right: 10%;
   }
   .mailTitle {
      border-bottom: solid 2px black ;
   }
   .noticeTitle {
      width: 100%;
   }

   .modifyButton {
      text-align: center;
   }
   table {
      margin-top:5px;
      width:100%;
   }
   .button {
      background-color: white;
      border-radius: 4px;
      border: solid 1px rgb(94, 94, 94);
   }
   textarea {
      width: 100%;
   }
   a:link { color: black; text-decoration: none;}
   a:visited { color: black; text-decoration: none;}
   a:hover { color: black; text-decoration: none;}